.DS_Store
.project
.settings
.idea
.externalToolBuilders
node_modules
.sass-cache
# Images in ./src
src/img/db
!src/img/db/user1.png
!src/img/db/DefaultApp.png
src/vendor
src/js/app/config.js
.webdrivers
coverage
reports
npm-debug.log
/kibana-3.1.2/
/public/
