<form name="form" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="onCancelClick()">&times;</button>

        <h4 class="modal-title" id="myModalLabel">
            {{ User.Id ? 'Edit User' : 'Create User' }}
        </h4>
    </div>

    <div class="modal-body">

        <div class="form-horizontal">

            <div class="form-group"
                 ng-class="{ 'has-error' : (form.$submitted || form.firstName.$touched) && form.firstName.$invalid }">
                <label class="col-sm-3 control-label">First Name</label>

                <div class="col-sm-9">
                    <input type="text"
                           name="firstName"
                           ng-model="User.FirstName"
                           required
                           alphabet-only
                           ng-pattern="/^[a-zA-Z]{3,}$/"
                           class="form-control" placeholder="First Name"/>

                        <span ng-show="(form.$submitted || form.firstName.$touched) && form.firstName.$error.required"
                              class="help-block">
                            Field is required
                        </span>

                        <span ng-show="(form.$submitted || form.firstName.$touched) && form.firstName.$error.pattern"
                              class="help-block">
                            First Name should contain at least 3 letters
                        </span>

                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : (form.$submitted || form.lastName.$touched) && form.lastName.$invalid }">
                <label class="col-sm-3 control-label">Last Name</label>

                <div class="col-sm-9">
                    <input type="text"
                           name="lastName"
                           ng-model="User.LastName"
                           required
                           alphabet-only
                           ng-pattern="/^[a-zA-Z]{3,}$/"
                           class="form-control" placeholder="Last Name"/>

                    <span ng-show="(form.$submitted || form.lastName.$touched) && form.lastName.$error.required"
                          class="help-block">
                        Field is required
                    </span>

                    <span ng-show="(form.$submitted || form.lastName.$touched) && form.lastName.$error.pattern"
                          class="help-block">
                        Last Name should contain at least 3 letters
                    </span>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : (form.$submitted || form.email.$touched) && form.email.$invalid }">
                <label class="col-sm-3 control-label">Email</label>

                <div class="col-sm-9">
                    <input type="email"
                           name="email"
                           ng-model="User.Email"
                           required
                           class="form-control" placeholder="Email"/>

                    <span ng-show="(form.$submitted || form.email.$touched) && (form.email.$error.email || form.email.$error.required)"
                          class="help-block">
                        Invalid Email
                    </span>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : (form.$submitted || form.age.$touched) && form.age.$invalid }">
                <label class="col-sm-3 control-label">Age</label>

                <div class="col-sm-9">
                    <input type="number"
                           ng-model="User.Age"
                           name="age"
                           required
                           min="1"
                           max="100"
                           class="form-control"/>

                    <span ng-show="(form.$submitted || form.age.$touched) && (form.age.$error.number || form.age.$error.required)"
                          class="help-block">
                        Invalid number
                    </span>

                    <span ng-show="(form.$submitted || form.age.$touched) && (form.age.$error.min || form.age.$error.max)"
                          class="help-block">
                        Age should be within 1 and 100
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="onSaveClick(form.$invalid)">Save</button>
        <button type="button" class="btn btn-default" ng-click="onCancelClick()">Cancel</button>
    </div>

</form>